.add-edit-test-suite-page {
    padding: 20px;
    background-color: #f9f9f9;
}

.add-edit-test-suite {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* 
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.custom-input, .custom-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
 */

 .custom-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
 
.test-step {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}

.test-step-text {
    flex-grow: 1;
    margin-left: 10px;
}

.test-step-actions {
    display: flex;
    gap: 10px;
}

.icon-btn-test-step {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add-step-placeholder {
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: #ccc;
    font-size: 24px;
}

.form-actions-test-suite {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.image-placeholder {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-icon {
    font-size: 40px;
    color: #ccc;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-image-icon {
    font-size: 50px;
    color: #ccc;
}

.test-step-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.select-all-label {
    /* width: 120px; */
    /* flex-shrink: 0; */
}

.test-step-id-header {
  width: 6rem;
}

.test-step-name-header {
  flex-grow: 1;
}

.test-step-id {
  width: 5rem;
  margin-left: 1rem;
}