.health-status-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
}

.health-status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-indicator-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.status-fail {
  background-color: red;
}

.status-pass {
  background-color: green;
}