.health-status-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
}

.health-status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
