.td-checkbox {
     text-align: center;
 }

 .two-column-layout {
     justify-content: center;
 }

 .card-user {
    width: 250px;    
 }
 .card-title-privileges
 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
 }

 .card-privilege {
    width: 420px;
 }

 .popup-overlay {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .popup-content {
     background-color: white;
     padding: 20px;
     border-radius: 5px;
     text-align: center;
 }

 .popup-actions {
     margin-top: 20px;
 }

 .popup-actions button:first-child {
     margin-right: 10px;
 }

 .search-container {
     position: relative;
     display: flex;
     align-items: center;
 }

 .search-icon {
     position: absolute;
     left: 10px;
     color: var(--color-gray-dark);
 }

.btn-add-user {
    margin-left: 10px;
}

 .search-input {
     padding-left: 30px;
     border-radius: 5px;
     border: 1px solid #ccc;
     height: 30px;
     font-size: 14px;
     font-weight: 500;
 }