.error-log-header {
  justify-content: right;
}

.filters-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  border: 1px solid #dcdfe6;
  border-radius: 8px;
}

.filter-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.error-log-grid table {
  width: 100%;
  border-collapse: collapse;
}

.error-log-grid th,
.error-log-grid td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.error-log-grid th {
  background-color: #f2f2f2;
}

.severity-high {
  background-color: #ffdddd;
}

.severity-medium {
  background-color: #fff3cd;
}

.severity-info {
  background-color: #ddebf7;
}

.date-log {
}

.details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  border: 1px solid #dcdfe6;
}

.details-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 15px; */
}

.details-popup-body {
  max-height: 60vh;
  overflow: auto;
  padding-right: 15px;
}

.additional-details {
    /* margin-top: 15px;
    padding-top: 15px; */
    border-top: 1px solid #eee;
}

.input-search {
    min-width: 175px;
}


.btn-close {
  min-width: 30px;
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  height: 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 80ms ease, box-shadow 120ms ease, background 120ms ease;
}