.header {
    background-color: var(--color-body);
    color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    /* width: 100%; */
}

.header-logo {
    height: 30px;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 500;
}

.user-info {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.user-role {
    margin-right: 10px;
    font-weight: 500;
}