.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    position: relative;
    width: 100%;
}

.header-logo {
    height: 30px;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.user-info {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #333;
    display: flex;
    align-items: center;
}

.user-role{
    margin-right: 10px;
    font-weight: 500;
}
