.header {
    background-color: var(--color-body);
    color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    max-height: 60px;
}

.header-logo {
    height: 30px;
    min-width: 150px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 300px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-role {
    font-weight: 500;
    white-space: nowrap;
}