.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content-software-update {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.software-version{
  font-weight: 700;
}
.software-version> span{
  font-weight: 500;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin: 1rem 0;
}

.progress-bar {
  height: 20px;
  background-color: #007bff;
  border-radius: 4px;
  text-align: right;
  color: white;
  line-height: 20px;
  padding-right: 5px;
}