/* DFP Design */
/* :root {
--color-white: #FFFFFF;
--color-black: #000000;
--color-gray-dark: #7D8388;
--color-gray-medium: #CCCCCC;
--color-gray-light: #F5F5F5;

--color-error: #B30F3B;
--color-info: #616D78;
--color-success: #00810C;
--color-warn: #CD7923;
--color-tertiary: #4470C3;

--color-body: #003366;
--color-background: var(--color-white);

--color-primary: #C02233;
--color-secondary: var(--color-white);
} */

:root {
--color-white: #FFFFFF;
--color-black: #000000;
--color-gray-dark: #7D8388;
--color-gray-medium: #CCCCCC;
--color-gray-light: #F5F5F5;

--color-error: #B30F3B;
--color-info: #616D78;
--color-success: #00810C;
--color-warn: #CD7923;
--color-tertiary: #4470C3;

--color-body: #003366;
--color-background: var(--color-white);

--color-primary: var(--color-black);
--color-primary-bg:#D9D9D9;
--color-primary-bgh:#C02233;
--color-secondary: var(--color-black);
--color-secondary-bg: var(--color-white);
--color-secondary-bgh:#C02233;
}

body,
html,
#root {
  /* height: 100%;
  margin: 0; */
  font-family: "Inter";
  background: var(--color-background);
  color: var(--color-body);
}

.footer {
  color: var(--color-gray-dark);
  background-color: var(--color-body);
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 40px;
  font-size: 12px;
  font-weight: 500; 
  /* #11182F; */
  justify-content: space-between;


  align-items: center;
  padding: 5px 20px;
}

.footer-copyright {
    min-width: 150px;
    text-align: right;
}

.health-status-label {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    white-space: nowrap;
}

/* ===== Base Page (shared) ===== */
.page-bg {
  padding: 10px;
  /* min-height: 100vh; */
}

.title {
  margin: 0;
  font-size: 20px;
  text-align: center;
  flex: 1;
  font-weight: 700;
}

/* Layout */
.center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px);
  padding-top: 10px;
}

/* Card */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-card {
  padding: 24px 28px;
  width: 800px;
}

.card {
  background: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-gray-medium);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  padding: 22px;
  width: 360px;
}

.card.wide {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--color-body);
}
/* Card */

.two-col {
  display: flex;
  gap: 16px;
}

.rule-panel {
  width: 320px;
  background: #fafafa;
  padding: 12px;
  border-radius: 6px;
  font-size: 13px;
}

/* Labels & Inputs */
.label {
  display: block;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  color: var(--color-body);
  border: 1px solid var(--color-gray-medium);
  font-size: 16px;
  font-weight: 400;
  /* padding: 8px 10px; */
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.input::placeholder {
  color: var(--color-gray-dark);
}

input:focus, select:focus, button:focus {
  outline-color: var(--color-body);
  box-shadow: 0 0 0 3px rgba(122, 168, 255, 0.50);
}

.input.has-icon {
  padding-right: 42px; /* space for eye button */
}

.input-error {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-error);
}


/* Labels & Inputs */

/* Buttons */
.btn-primary,
.btn-secondary {
  min-width: 75px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-medium);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 80ms ease, box-shadow 120ms ease, background 120ms ease;
}

.btn-primary {
  background: var(--color-primary-bg);
  color: var(--color-primary);
}

.btn-primary:hover {
  background: var(--color-primary-bgh);
  color: var(--color-white);
}

.btn-secondary {
  background: var(--color-secondary-bg);
  color: var(--color-secondary);
}

.btn-secondary:hover {
  background: var(--color-secondary-bgh);
  color: var(--color-white);
}

.btn-primary:disabled,
.btn-secondary:disabled {
  background-color: var(--color-gray-medium);
  color: var(--color-gray-dark);
  border-color: var(--color-gray-medium);
  cursor: not-allowed;
}

.btn-icon {
  min-width: 30px;
  max-width: 30px;
  margin-right: 1rem;
}

.btn-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon-text>svg {
  margin-right: 5px;
}

.action-btns {
  display: flex;
  gap: 10px;
}
/* Buttons*/

/* Password eye icon */
.pwd-row {
  position: relative;
  display: flex;
  align-items: center;
}

.pwd-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: var(--color-body);
  cursor: pointer;
  font-size: 14px;
}

/* Password eye icon */

/* checkbox */
.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
/* checkbox */


/* link */
.link {
  font-size: 14px;
  color: var(--color-body);
  text-decoration: none;
}

.link:hover { 
  text-decoration: underline; 
}
/* link */

/* date */
.date {
  color: var(--color-body);
  border: 1px solid var(--color-body);
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  border-radius: 5px;
  box-sizing: border-box;
}
/* date */

/* dropdown */
.select {
  background-color: var(--color-white);
  color: var(--color-body);
  border: 1px solid var(--color-gray-medium);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px 5px 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 0.65em auto;
}
/* dropdown */

/* msg */
.msg {
  background: var(--color-white);
  border: 1px solid var(--color-gray-light);
  padding: 10px;
  border-radius: 10px;
}

.msg-error {
  color: var(--color-error);
}

.msg-success {
  color: var(--color-success);
}

.msg-info {
  color: var(--color-info);
}

.msg-warn {
  color: var(--color-warn);
}
/* msg */

.device-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
}

.empty-area {
  background: #fff;
  border-radius: 8px;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
  margin-top: 12px;
  padding: 30px;
}

.muted {
  color: #2b86c6;
  margin-left: 6px;
}

/* Page */
/* .page-wrap {
  padding: 16px 24px;
} */

.page-table {
  width: 100%;
  border-collapse: collapse;
  /* white-space: nowrap; */
  /* text-wrap-mode: nowrap; */
}

.page-table th,
.page-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--color-gray-medium);
}

.page-table th {
  background-color: var(--color-gray-medium);
  font-weight: 700;
  color: #222;
}

.page-table tbody tr:last-child td {
  border-bottom: none;
}

.page-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  border: 1px solid var(--color-gray-medium);
  border-radius: 8px;
  background: var(--color-white);
}
/* Page */

/* Grid */
.status-box {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
  font-weight: 600;
  text-align: center;
}

.status-ok {
  background-color: var(--color-success);
}

.health-status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.status-test {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-medium);
}

.fail {
  background-color: var(--color-error);
}

.pass {
  background-color: var(--color-success);
}

/* Grid */

/* Misc */
.center {
  text-align: center;
}

.runs-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* .runs-input {
  min-width: 75px;
}  */
/* Misc */

header, .status-bar {
  flex-shrink: 0;
}

.row-space {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}