.main-menu {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.status-bar {
    padding-top: 10px;
}

.detected-product {
    font-size: 16px;
    font-weight: 500;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-column-layout {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 80px;
    border: 1px solid var(--color-gray-dark);
    border-radius: 5px;
    gap: 30px;
}

.column > button {
    width: 200px; /* Adjust width as needed */
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.user-info {
    font-size: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 20px 50px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.button-container > button {
    min-width: 175px;
    margin: 0 100px;
}