.main-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.user-info {
    font-size: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    margin: 20px 50px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.button-container > button {
    min-width: 175px;
    margin: 0 100px;
}