.main-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.user-info {
    font-size: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    margin: 20px 50px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.menu-button {
    margin: 0 100px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #dcdcdc;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
    background-color: #e0e0e0;
}